[submodule "ui/ordermanagement"]
	path = ui/ordermanagement
	url = https://github.com/GitPracticeRepo/ordermanagementui.git
[submodule "api/ordermanagement"]
	path = api/ordermanagement
	url = https://github.com/GitPracticeRepo/ordermanagementservice.git
